




/*css para el mapa SVG*/ 
/*Tenemos que decidir si lo hacemos con sombra o sin solo con cambio de color*/
path {
  stroke: #6b5b3c;
  stroke-width: 0.3;
}

.regionNoroeste {
  fill: #ebab17c4;
  transition: filter 0.9s ease, fill 0.9s ease;     
}


.grupo-noroeste:hover .regionNoroeste{
    fill: #ebab17;  
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}


.regionPatagonia{
    fill: rgba(20, 170, 170, 0.297) ;
    transition: filter 0.9s ease, fill 0.9s ease; 
}

.grupo-patagonia:hover .regionPatagonia{
    fill:rgba(59, 181, 229, 0.833);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.regionNoreste{
    fill: rgba(102, 188, 10, 0.756) ;
    transition: filter 0.9s ease, fill 0.9s ease; 
}
.grupo-noreste:hover .regionNoreste{
     fill: rgba(102, 188, 10, 0.918) ;
     filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.regionCentro{
    fill:rgba(234, 234, 51, 0.459);
    transition: filter 0.9s ease, fill 0.9s ease; 
}

.grupo-centro:hover .regionCentro{
    fill:rgb(234, 234, 51); 
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.regionPatagoniaAustral{
    fill: #01b4eb6c;
    transition: filter 0.9s ease, fill 0.9s ease; 
}

.grupo-patagoniaAustral:hover .regionPatagoniaAustral{
    fill:#01B5EB;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}