/*Centralizacion de la imagen svg*/
html,
body {
    font-family: 'Google Sans Flex', sans-serif !important;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DEE2E6;
}



main {
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
main.conteiner-fluid.main-cards{
    display: flex;
    flex: 1;
}

/*css de logo*/
#logo-parques{
    height: 4rem;
    width: auto;
    display: block;
}

.contenedor-logo{
    display: flex;
    align-items: center;
    height: 100%;
    
}

#enlace-logo{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

header {
    background-color:#2D6566;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 11vh;
}


footer {
    background-color: #000607;
    display: flex;
    justify-content: center;
    height: 13vh;
    background-color: #2D6566;
}

.contenedor-mapa {
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa-arg {
    height: 100%;
    max-height: 96%;
    width: auto;
    max-width: 100%;
}

h1 {
    margin: 0 !important;
    font-size: x-large !important;
    color: white !important;
}


/*css para el mapa SVG*/
/*Tenemos que decidir si lo hacemos con sombra o sin solo con cambio de color*/
path {
    stroke: #6b5b3c;
    stroke-width: 0.3;
}

.regionNoroeste {
    fill: #fcc43fcb;
    transition: filter 0.75s ease, fill 0.75s ease;
}


.grupo-noroeste:hover .regionNoroeste {
    cursor: pointer;
    filter:brightness(0.85);
    fill: #ffb23f;
    stroke: #000000;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.80));
}


.regionPatagonia {
    fill: rgba(20, 170, 170, 0.297);
    transition: filter 0.75s ease, fill 0.75s ease;
}

.grupo-patagonia:hover .regionPatagonia {
    cursor: pointer;
    fill: #3bb5e5d4;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.80));
}

.regionNoreste {
    fill: rgba(102, 188, 10, 0.756);
    transition: filter 0.75s ease, fill 0.75s ease;
}

.grupo-noreste:hover .regionNoreste {
    cursor: pointer;
    fill: rgba(102, 188, 10, 0.918);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.80));
}

.regionCentro {
    fill: rgba(234, 234, 51, 0.459);
    transition: filter 0.75s ease, fill 0.75s ease;
}

.grupo-centro:hover .regionCentro {
    cursor: pointer;
    fill: rgb(234, 234, 51);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.80));
}

.regionPatagoniaAustral {
    fill: #01b4eb6c;
    transition: filter 0.75s ease, fill 0.75s ease;
}

.grupo-patagoniaAustral:hover .regionPatagoniaAustral {
    cursor: pointer;
    fill: #01B5EB;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.80));
}